<!DOCTYPE html>
<html>

	<!-- Headers -->
	<head>
		<title>Document Creator - Customizations</title>
		<link rel="icon" href="../assets/images/philipsLogo.png">

		<!-- Meta Tags -->
		<meta charset="utf-8">
	    <meta content="IE=edge" http-equiv="X-UA-Compatible">
	    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport">
	    <meta http-equiv="Access-Control-Allow-Origin" content="*">

	    <!-- CDN Imports -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

		<!-- Internal Assets -->
		<link rel="stylesheet" type="text/css" href="../assets/css/section.css">

	</head>
	

	<!-- Body -->
	<body>

		<!-- Navigation -->
		<nav class="ui top menu" id="navContainer">
			<div class="sidebarTrigger item" onclick="toggleSidebar()">
				<i class="bars icon" id="sidebarIcon"></i>
			</div>
			<div class="logo item" id="logoContainer">
			    <a>Customizations</a>
			</div>
			<div class="item" id="siteName">Site</div>
			<div class="right menu">
				<a class="item" onclick="triggerEdit()"><i class="edit icon"></i>Edit</a>
				<a class="item" onclick="triggerSave()"><i class="save icon"></i>Save</a>
				<div class="ui right aligned search item">
					<div class="ui transparent icon input">
						<input type="text" class="prompt" placeholder="Search Component">
						<i class="search link icon"></i>
					</div>
					<div class="results"></div>
				</div>
			</div>
		</nav>

		<div class="mainContainer">
			<!-- Sidebar -->
			<div class="ui vertical menu" id="sidebar">
				<div class="ui vertical menu" id="sidebarMenu">
					<div class="item">
						<h4 class="ui header">Completion Insight</h4>
						<div class="canvasWrapper">
							<canvas id="statusChart"></canvas>
						</div>
					</div>
					<div class="item">
						<h4 class="ui header">Sections</h4>
						<div class="menu" id="navMenu">
						</div>
					</div>
				</div>
			</div>

			<!-- Main Content -->
			<form name="sectionForm"  class="contentContainer">
				
				<!-- Message Display -->
				<div id="topMessage"></div>
				<div id="resultModal"></div>

				<!-- Section Header -->
				<h2 class="ui header">
					<i class="bookmark outline icon"></i>
					<div class="content" id="headerContent">
						About this Section
					</div>
				</h2>
				<p class="headerDescription">Your changes will be saved globally only after you publish a new revision To publish a new revision, save changes in the sections where you made modification and navigate to the "Submit Changes" section in the navbar</p>

				<!-- Hidden Inputs -->
				<input type="hidden" name="token" id="token" />
				<input type="hidden" name="customizationsCtr" id="customizationsCtr" />

				<div class="ui hotizontal divider"></div>

				<h3>Customizations</h3>
				<div class="tableContainer">
					<table class="ui celled table" id="customizationsTable">
						<thead>
							<tr>
								<th class="one wide">Site</th>
								<th class="three wide">Description</th>
								<th class="three wide">Details</th>
								<th class="three wide">Solution</th>
								<th class="two wide">Screenshot</th>
								<th class="three wide">Remark</th>
								<th class="one wide">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<!-- <td>
									<div class="ui form">
										<input type="text" id="site" name="site" value="" class="editField" readOnly />
									</div>
								</td>
								<td>
									<div class="ui form">
										<input type="text" id="description" name="description" value="" class="editField" readOnly />
									</div>
								</td>
								<td>
									<div class="ui form">
										<input type="text" id="details" name="details" value="" class="editField" readOnly />
									</div>
								</td>
								<td>
									<div class="ui form">
										<input type="text" id="solution" name="solution" value="" class="editField" readOnly />
									</div>
								</td>
								<td>
									<div class="ui form">
										<input type="text" id="screenshot" name="screenshot" value="" class="editField" readOnly />
									</div>
								</td>
								<td>
									<div class="ui form">
										<input type="text" id="remark" name="remark" value="" class="editField" readOnly />
									</div>
								</td>
								<td class="center aligned">
									<button class="ui red basic button deleteRow" onclick="deleteRow()">X</button>
								</td> -->
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<button class="ui basic button addRowButton" id="addCustomizationsTableRow" type="button"><i class="icon add"></i>Add Row</button>

			</form>
		</div>
		
		

		<!-- CDN Imports -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

		<!-- Internal Assets -->
		<script src="../assets/js/common.js"></script>
		<script src="../assets/js/section.js"></script>
		<script src="../assets/js/section8.js"></script>

	</body>
</html>